services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portefolio
    restart: always
    ports:
      - "3003:3000"
    environment:
      NODE_ENV: production